<form [formGroup]="userFormGroup"  class="container">
<div class="formGroup">
  <nav class="nav">
            <div class="d1">
               <h3 class="h3">facebook</h3>
            </div>
        </nav>
        <br>
        <div class="formGroup">
          <label class="lbl">Create an account</label>
          <br>
          It's quick & easy
        </div>
        <br>
        <div class="formGroup">
            <input type="text" formControlName="fullName" class="form-control"   placeholder="First Name">&nbsp;
            <input type="text" formControlName="lastname" class="form-control"  placeholder="Last Name">
        </div><br>
        <div class="formGroup">
            <input size="45" formControlName="email" class="form-control"   placeholder="Mobile No or Email address" required>
        </div><br>
        <div class="formGroup">
            <input type="text" formControlName="password" class="form-control"  placeholder="New Password">
        </div><br>
        <div class="formGroup">
            <label class=lbl1>Birthday</label>
            <br>
            <select>
                <option>Day</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <select>
                <option>Month</option>
                <option>Jan</option>
                <option>Feb</option>
                <option>Mar</option>
                <option>Apr</option>
                <option>May</option>
                <option>Jun</option>
                <option>Jul</option>
                <option>Aug</option>
                <option>Sept</option>
                <option>Oct</option>
                <option>Nov</option>
                <option>Dec</option>
            </select>
            <select>
                <option>Year</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
            </select>
        </div><br>
        <div class="formGroup">
            <label class="lbl1">Gender</label>
            <br>
            <input type="radio" formControlName="gender" class="form-control"   name="gender" value="Male"> Male
            <input type="radio" formControlName="gender" class="form-control"   name="gender" value="Female"> Female
            <input type="radio" formControlName="gender" class="form-control"   name="gender" value="Other"> Other
        </div><br>
        <div class="formGroup">
            <label>
                By clicking Sign Up, you agree to our <span class="span">Terms, Data Policy</span> and <span class="span"> Policy</span>. You may receive
                SMS notifications from us and can opt out at any time
            </label>
        </div><br>
        <div class="formGroup">
            <button [disabled]="userFormGroup.invalid"  class="submit" (click)="submit()">Sign Up</button>
        </div>
</div>
</form>
